asyncio==3.4.3
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
greenlet==2.0.2
idna==3.4
lxml==4.9.3
playwright==1.36.0
pyee==9.0.4
requests==2.31.0
soupsieve==2.4.1
typing_extensions==4.7.1
urllib3==2.0.4
